.App {
  text-align: center;
}

.App p{
  display:inline;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.product-data-results
{
    display:  table;
    width:auto;
    background-color:#eee;
    border:1px solid  #666666;
    border-spacing:5px;/*cellspacing:poor IE support for  this*/
   /* border-collapse:separate;*/
}

.product-category-row,.product-row,.product-data-header
{
   display:table-row;
   width:auto;
}

.product-name,.product-price
{
    float:left;/*fix for  buggy browsers*/
    display:table-column;
    width:200px;
    background-color:#ccc;
}